MyVacationWorkflow/MyVacationWorkflow/Connected Services/HolidayBroker/HolidayBroker.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://holidaybrokerservice.azurewebsites.net/HolidayBroker.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HolidayBrokerService" />
  <xs:element name="GetHolidayOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="budget" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HolidayBrokerService" minOccurs="0" name="GetHolidayOptionsResult" nillable="true" type="q1:ArrayOfHoliday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>