MyVacationWorkflow/MyVacationWorkflow/Connected Services/AirportTransfer/AirportTransfer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AirportTransferService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AirportTransferService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TravelOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="DestinationAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="TransportType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TravelOption" nillable="true" type="tns:TravelOption" />
</xs:schema>