MyVacationWorkflow/MyVacationWorkflow/Connected Services/AirportTransfer/AirportTransfer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://airporttransferservice.azurewebsites.net/AirportTransfer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AirportTransferService" />
  <xs:element name="GetCheapestTravelOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="originCity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationCity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheapestTravelOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AirportTransferService" minOccurs="0" name="GetCheapestTravelOptionResult" nillable="true" type="q1:TravelOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>